apiVersion: v1
kind: Service
metadata:
  name: result-app
  labels:
    name: result-app-service
    app: demo-voting-app
spec:
  type: NodePort
  ports:
    - port: 3000
      targetPort: 3000
      nodePort: 30000
  selector:
    name: result-app-pod
    app: demo-voting-app